table {
  max-width: 100% !important;
}

.navbar-toggle {
  margin-top: 20px;
}

#content .fadedImages .objectTitle {
  width: 100% !important;
}

#content .fadedImages .objectImage {
  width: 100% !important;
}

#content .fadedImages .faded .fadedArea .object {
  width: 100% !important;
}

#content .fadedImages .faded {
  width: 100% !important;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  #pageMainmenu {
    max-width: 700px;
  }
  #pageMainmenu .menu {
    padding-left: 8px;
    padding-right: 8px;
  }
  .record-item {
    margin-top: 30px;
  }
  #content .fadedImages .faded {
    max-width: 96%;
  }
  table,
  tbody {
    display: block;
  }
  .responsive_hide {
    display: none;
  }
  #global7 {
    display: none;
  }
  #td39 {
    width: 100% !important;
  }
  #td68 {
    width: 100% !important;
  }
  #tr50 {
    display: block;
  }
  #td51 {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #td54 {
    display: block;
  }
  #td53 {
    display: none;
  }
  #tr88 {
    display: block;
    width: 100%;
  }
  #td89 {
    display: block;
    width: 100%;
  }
  #Top {
    display: none !important;
  }
  #Bottom {
    display: none !important;
  }
  #table87 {
    background-size: cover;
  }
  .mbordr {
    display: none;
  }
  .mbordl {
    display: none;
  }
  .mids {
    display: none !important;
  }
  #global4 {
    margin-top: 20px;
  }
  .contentText>table>tbody>tr {
    display: flex;
    flex-flow: row wrap;
  }
  .rtRotate {
    display: flex;
    flex-flow: row wrap;
  }
  .flex-row {
    display: flex;
    flex-flow: row wrap;
  }
  .goodsGoods {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .e_shopvit .socialButtons {
    display: none;
  }
  #tr50 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #td54 {
    order: 1;
  }
  #td51 {
    order: 2;
  }
  #td53 {
    order: 999;
  }
}

@media (max-width: 768px) {
  .rtContainer {
    width: 250px !important;
  }
  #pageMainmenu {
    display: block;
    width: 100%;
    height: auto;
  }
  #pageMainmenu .tableMenu>tbody>tr {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
  }
  .e_shopvit .goodsLinkPhoto {
    width: 300px !important;
  }
  img {
    max-width: 100% !important;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px !important;
  }
}